{% extends "layout.njk"%}

{% block head %}
    <meta name="description" content="Site da rocketsear, desenvolvido a partir de um desafio do bootcamp LaunchBase">
    <title>Rocketseat</title>
{% endblock %}

{% block content %}
    <main>
        <article>
            <section class="section-one">
                <div>
                    <img src="imagens/rocketseat-logo.png" alt="">
                </div>
                <div>
                    <h1>Sobre a Rocketseat</h1>
                    <p>Somos uma comunidade incrível de programadores em busca do próximo nível 🚀.<br>O objetivo da comunidade é ajudar a elevar o nível de cada profissional, seja em aspectos técnicos ou não, partindo do princípio de que compartilhar as experiências é a melhor forma de acelerar sua evolução como programador.</p>
                </div>
            </section>
            <section class="section-two">
                <h2>Tecnologias Utilizadas</h2>
                <div class="flex-container-one">
                    <div>
                        <img src="imagens/html.png" alt="logotipo da linguagem de marcação de hipertexto">
                    </div>
                    <div>
                        <img src="imagens/css.png" alt="logotipo da folha de estilo em cascata">
                    </div>
                    <div>
                        <img src="imagens/javascript.png" alt="logotipo da linguagem de programação javascript">
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}